*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
}

div{
  width: 100%;
}

table{ 
  border: 1px solid grey;
  margin: 0 auto;
  border-collapse: collapse;

}

td {
  font-size: 28px;
  border: 1px solid grey;
  padding: 5px;
}